.container {
  margin-top: 64px;
  margin-bottom: 128px;
  display: grid;
  gap: 24px;
  place-items: center;
  > .title {
    text-align: center;
    font-size: 32px;
    padding: 0px 24px;
  }
  > .description {
    text-align: center;
    color: var(--gray);
    font-size: 16px;
    padding: 0px 24px;
  }
  > .visit {
    background-color: var(--primary);
    color: var(--black);
    padding: 8px 32px;
    border-radius: 99px;
    text-decoration: none;
  }
  &.mobile {
    > .description {
      font-size: 14px;
    }
  }
}