#hero {
  padding-top: 128px;
  width: 100%;
  #hero-text {
    width: 1226.4705882353px;
    letter-spacing: -1px;
    color: var(--gray);
    position: relative;
    h2 {
      font-size: 24px;
    }
    svg {
      position: absolute;
      pointer-events: none;
      top: -80px;
    }
    h1 {
      font-size: 44px;
    }
    p {
      margin-top: 16px;
      letter-spacing: 0px;
      color: #5f5d5f;
    }
  }
  #hero-cta {
    margin-top: 36px;
    display: flex;
    gap: 20px;
    a {
      all: unset;
      cursor: pointer;
      padding: 8px 32px;
      border-radius: 99px;
      color: white;
    }
    :first-child {
      background-color: var(--gray);
    }
    :last-child {
      background-color: #2cad9eFF;
    }
  }
  #hero-partners {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 48px;
    p {
      color: var(--gray);
    }
    div {
      display: flex;
      gap: 24px;
      img {
        filter: grayscale(100%);
        opacity: 0.8;
      }
    }
  }
  #hero-highlights {
    #hero-highlights-title {
      font-size: 18px;
      letter-spacing: 5px;
      color: #525252;
    }
    #hero-highlights-container {
      margin-top: 32px;
      display: flex;
      width: 100%;
      justify-content: space-between;
      .hero-highlight {
        width: 375px;
        h3 {
          font-size: 24px;
          color: #2cad9eFF;
          font-weight: 400;
          line-height: 1.5;
        }
        p {
          margin-top: 8px;
          font-size: 14px;
          line-height: 1.2;
          color: #363636;
        }
      }
    }
  }
}
@media (min-width: 1351px) {
  #hero {
    display: block;
    width: fit-content;
    margin: 128px auto 0px auto;
    scale: 1.1;
    #hero-splitter {
      display: none;
    }
    #hero-text {
      h1 {
        margin-top: 20px;
      }
    }
    #hero-highlights {
      margin-top: 56px;
    }
  }
}
@media (max-width: 1350px) {
  #hero {
    width: 80%;
    margin: 64px auto 0px auto;
    display: flex;
    scale: 1;
    flex-direction: row;
    #hero-text {
      width: fit-content;
    }
    .hero-mobile-hide {
      display: none;
    }
    #hero-splitter {
      display: block;
      width: 600px;
    }
    #hero-text {
      h2 {
        padding-bottom: 8px;
      }
      h1 {
        margin-top: 8px;
      }
    }
    #hero-highlights-container {
      align-items: center;
      flex-direction: column;
      gap: 48px;
      :last-child:is(.hero-highlight) {
        display: none;
      }
    }
  }
}
@media (max-width: 1150px) {
  #hero {
    flex-direction: column;
    #hero-highlights {
      margin-top: 56px;
      #hero-highlights-container {
        flex-direction: row;
      }
    }
  }
}
@media (max-width: 710px) {
  #hero {
    margin-top: 48px;
    #hero-text {
      h2 {
        font-size: 20px;
      }
      #hero-splitter {
        width: 400px;
      }
      h1 {
        font-size: 32px;
      }
      p {
        width: 35%;
      }
    }
    #hero-partners {
      margin-top: 72px;
      p {
        font-size: 14px;
      }
      img {
        height: 40px;
      }
    }
    #hero-highlights {
      margin-top: 96px;
      #hero-highlights-container {
        align-items: center;
        flex-direction: column;
        gap: 48px;
        .hero-highlight {
          width: 100%;
        }
      }
    }
  }
}
@media (max-width: 465px) {
  #hero {
    margin-top: 24px;
    #hero-text {
      h2 {
        font-size: 14px;
      }
      #hero-splitter {
        width: 250px;
      }
      h1 {
        font-size: 21px;
      }
      p {
        width: 80vw;
        font-size: 12px;
      }
    }
    #hero-cta {
      font-size: 10px;
      a {
        padding: 8px 20px;
      }
    }
    #hero-partners {
      margin-top: 72px;
      gap: 16px;
      div {
        gap: 8px;
      }
      p {
        font-size: 10px;
      }
      img {
        height: 40px;
      }
    }
    #hero-highlights {
      margin-top: 96px;
      #hero-highlights-title {
        font-size: 12px;
      }
      #hero-highlights-container {
        align-items: center;
        flex-direction: column;
        gap: 48px;
        .hero-highlight {
          width: 100%;
          h3 {
            font-size: 16px;
          }
          p {
            font-size: 12px;
          }
        }
      }
      :last-child:is(.hero-highlight) {
        display: block;
      }
    }
  }
}